ion-card{
    display: flex;
    flex-direction: column;
    width: 79% !important;
    margin: 12% !important;
}
ion-button{
    width: 60%;
    margin-left: 18%;
}

ion-content{
    --background: url('../../assets/bg1.jpg');
}

ion-input {
    --background: #f7f7f7;
    width: 75%;
    margin: 0 auto;
    border-radius: 7px;
}
ion-row{
    margin-top:61px
}