<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back" size="large" (click)="goto()"></ion-icon>
    <ion-title>
      Forgot Password
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12" *ngIf="showPassword">
        <ion-label class="ion-text-center">Current Password</ion-label><br>
        <ion-input [(ngModel)]="password"></ion-input><br>
        <ion-label>Enter New Password</ion-label>
        <ion-input [(ngModel)]="newPassword"></ion-input><br>
        <ion-button (click)="updatePassword(newPassword)" color="tertiary" fill="outline">Update Password</ion-button>
      </ion-col>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <ion-input placeholder="Enter Your Email" [(ngModel)]="data.email"><ion-icon name="contact"></ion-icon></ion-input><br>
          <ion-button color="tertiary" fill="outline" (click)="resetPassword(data.email)" expand="full">Show Password</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
