<ion-content class="login">
   <ion-card>
    <ion-item lines="none">
      <ion-img src="../assets/CityMovieLogo.png"></ion-img>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="mail">&nbsp;</ion-icon>Email
      </ion-label>
      <ion-input [(ngModel)]="data.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="eye">&nbsp;</ion-icon>Password
      </ion-label>
      <ion-input [(ngModel)]="data.password" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col style="height:35px">
            <ion-button expand="block" color="tertiary" (click)="login(data)">
              <ion-icon name="log-in"></ion-icon>Login
            </ion-button><br>
          </ion-col>
          <ion-col style="height:35px">
            <ion-button expand="block" color="tertiary" href="/register-user">
              <ion-icon name="person-add"></ion-icon>Signup
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <h6><a href="/reset-password">Forgot your login details?Click here</a></h6>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card> 
</ion-content>