<ion-footer>
  <ion-segment>
      <ion-segment-button (click)="home()">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="profile()">
        <ion-icon name="person"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-segment-button>
    </ion-segment>
</ion-footer>