<ion-content>
  <ion-img src="../assets/CityMovieLogo.png"></ion-img>
  <ion-grid style="align-items:center;margin-left: 3%;
    margin-top: 7%;">
    <ion-row>
      <ion-col>
        <ion-button color="tertiary" expand="block" href="/login">Login</ion-button><br>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-item style="margin:0 auto">
        <ion-label>OR</ion-label>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="tertiary" expand="block" href="/register-user">Sign Up</ion-button><br>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
