<ion-content>
  
    <h1 style="color:azure;text-align:center">City Movies</h1>
    <ion-img src="../../assets/homescreen2.png"></ion-img>
    <ion-grid style="align-items:center;margin-left: 3%;
    margin-top: 7%;">
      <ion-row>
        <ion-col>
            <ion-button color="secondary" expand="full" href="/login">Login</ion-button><br>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <ion-button color="secondary" expand="full" href="/register-user">Sign Up</ion-button><br>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    
    
</ion-content>
