<ion-header>
    <ion-toolbar color="success">
      <ion-title>
        Payment
      </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card style="text-align:center">
      <ion-item>
          <ion-label position="floating">Card Number</ion-label>
          <ion-input></ion-input>
      </ion-item><br>
      <ion-item>
          <ion-label position="floating">CVV</ion-label>
          <ion-input></ion-input>
      </ion-item><br>
      <ion-item>
          <ion-label position="floating">Date of Expiry</ion-label>
          <ion-input></ion-input>
      </ion-item><br>
      <ion-button color="success" (click)="goto()" expand="block">Pay</ion-button>
  </ion-card>
</ion-content>