// ion-img{
//     height:200px;
// }

// .book ion-img{

//     --background:blue;

// 
ion-img {
--background-color:blue;
}

ion-content{
    --background: url('../../assets/bg1.jpg');
}
.menu{
    margin:0;
    padding:0
}